<div class="row justify-content-between">
    <div class="col">
		<div class="pagination">
			<label class="text-muted">Page: </label>
			<!--<a href="#">&laquo;</a>-->
			<a href="#">1</a>
			<a class="active" href="#">2</a>
			<a href="#">3</a>
			<!--<a href="#">&raquo;</a>-->
		  </div>
	</div>
    <div class="col">
		<button class="btn"> 
			Show more products
			<i class="fa fa-arrow-down" aria-hidden="true"></i>

		</button>
	</div>
	
    <div class="col-2 products">
			<span class="badge rounded-pill">{{products.length}}</span>
			<label class="text-muted">products</label>
	</div>
</div>
