<div class="card">
    <div class="row" style="height: 100%;">
        <div class="col-sm-4 container" >
            <img [src]="product.path"  alt="productImage">
        </div>
        
        <div class="col-sm-5">
            
                <p class="card-title">{{ product.name }}</p>
                <p class="card-subtitle">{{product.description}}</p>
            <div class="row">
               
            </div>
            <div class="col-12" style="margin-top: 30px;">
                <div class="row">
                    <ngb-rating [(rate)]="product.rating" [max]="5"></ngb-rating>
                </div>
            <div class="row">
                <div class="col">Form</div>
                <div class="col">{{ product.form }}</div>

            </div>
            <div class="row">
                <div class="col">Laboratory</div>
                <div class="col">{{ product.laboratory }}</div>

            </div>
            <div class="row">
                <div class="col">Conservation</div>
                <div class="col">{{ product.DurationOfConversation}}</div>

            </div>
            <div class="row">
                <div class="col">Stock</div>
                <div class="col">300 pcs</div>

            </div>
        </div>
        </div>
        <div class="col-sm-3" >
            <div class="row" style="height: 100%; padding: 20px;">
                <div class="col-12">
                    <p class="card-title">{{ product.publicPrice }} TND</p>
                </div>
                <div class="col-12"  *ngIf="isPromotion">
                    <p class="card-subtitle"><s>{{ product.newPrice }} TND</s></p>
                </div>
                <div class="col-12">
                    <p class="card-subtitle">Free Shiping</p>
                </div>
                <div class="col-12">
                    <p class="card-subtitle">Delivery in 1 day</p>
                </div>
                <div class="col-12">
                    <button class="product btn" [routerLink]="['/description', product.id]"  >
                        Product Detail  >
                    </button>
                </div>
                <div class="col-12 align-self-end" style="padding-right: 0px;">
                    <button class="btn wish" (click)="addtoCart()">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        Add to wish list
                    </button>
                    

                </div>
            </div>
        </div>
    </div>
</div>