ul {
    list-style-type: none;
    margin: 20px 0px;
}

h6{
    font-size: 18px;
    font-weight: bold ; 
    color: #151515;
}
a{
    font-size: 14px;
    color: #7854F7;
 }

 .row {
     margin-top : 50px ; 
 }