<p class="title">Price</p>
<div class="custom-slider">
    <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>

</div>
<div class="row">
    <div class="col-6">
        <p>Min value: <input type="number" class="form-control" [(ngModel)]="minValue"></p> 
    </div>
    <div class="col-6">
    <p>Max value: <input type="number" class="form-control" [(ngModel)]="maxValue"></p>

    </div>

</div>
<div class="row">
    <button class="btn" (click)="reset()">reset</button>
</div>

