<app-navbar [items]= "products$ | async"></app-navbar>
<div class="container">
<div class="row justify-content-center">
    <div class="col-6 " style="justify-content: center;">
        <div class="row">
        <div class="frame">
            <img [src]="product.path" alt="panadol">

        </div>
    </div>
        <app-pharmacy-map [product]="product"></app-pharmacy-map>
        <app-pharmacy-card></app-pharmacy-card>
    </div>
    <div class="col-6">
        <app-product-description [product]= "product" ></app-product-description>
        <app-description-review [product]="product" [id]="id"></app-description-review>
    </div>


</div>
<app-related-products [products]="relatedProducts"></app-related-products>
<app-footer></app-footer>
</div>

