<div class="container">
<div class="row justify-content-center">
    <div class="col-6 " style="justify-content: center;">
        <div class="row">
        <div class="frame">
            <img [src]="!product ? '' : product.path  " alt="panadol">

        </div>
    </div>
        <app-pharmacy-map [product]="product"></app-pharmacy-map>
        <app-pharmacy-card></app-pharmacy-card>
    </div>
    <div class="col-6">
        <app-product-description [product]= "product" ></app-product-description>
        <app-description-review></app-description-review>
    </div>


</div>
<app-related-products></app-related-products>
<app-footer></app-footer>
</div>

