<div class="row justify-content-between best">
    <div class="col-3">
        <h5><strong>Best selling products</strong></h5>
        <ul class="list-group">
            <li ><a href="">Style</a></li>
            <li><a href="">Corina</a></li>
            <li><a href="">Special nutrition</a></li>
            <li><a href="">Pharmacy</a></li>
            <li><a href="">Baby</a></li>
        </ul>
        <button class="btn" [routerLink]="['/products']" >More products></button>
    </div>
    <div class="col-9">
        <div class="row">
        <div class="col-4" *ngFor="let product of products">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>
    </div>
    