<div class="row justify-content-between best">
    <div class="col-3">
        <h5><strong>Best selling products</strong></h5>
        <ul class="list-group">
            <li ><a href="">Style</a></li>
            <li><a href="">Corina</a></li>
            <li><a href="">Special nutrition</a></li>
            <li><a href="">Pharmacy</a></li>
            <li><a href="">Baby</a></li>
        </ul>
        <button class="btn">More products  ></button>
    </div>
    <div class="col-3">
        <app-product-card [image]="'../../../assets/product.svg'"></app-product-card>

    </div>
    <div class="col-3">
        <app-product-card [image]="'../../../assets/product.svg'"></app-product-card>

    </div>
    <div class="col-3">
        <app-product-card [image]="'../../../assets/product.svg'"></app-product-card>
    </div>

</div>