.title {
    font-size : 24px ; 
    justify-content: center;
}
.form-control{
    border-radius : 12px ; 
    background-color : #F9F9F9  ; 
  
    height : 42px ; 
}
button {
    width : 314px; 
    height: 45px;
    color : white ; 
    border-radius : 20px ; 
    margin: 20px 0px; 
}
*{
    font-weight: bold;

}
label{
    font-size : 14px
}

.modal-body{
    padding: 0px ; 
    
}

.col-7{
    padding : 20px 10px ; 
}
.modal-content{
    border-radius: 50px !important;
}
