/* Style the list */
ol.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
  }
  
  /* Display list items side by side */
  ol.breadcrumb li {
    display: inline;
    font-size: 12px;
  }
  

  /* Add a slash symbol (/) before/behind each list item */
  ol.breadcrumb li+li:before {
    padding: 3px;
    color:#A9A9A9;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ol.breadcrumb li a {
    color: #A9A9A9;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ol.breadcrumb li a:hover {
    color: black;
    text-decoration: none;
  }