<div class="card" [routerLink]="['/description',product.id]" routerLinkActive="router-link-active" >
    <div class="container">
    <img [src]="product.path"/>

    </div>
    <div class="card-body">
      <p class="card-title">{{product.name}}</p>
      <p class="card-subtitle mb-2 text-muted">{{ product.description }}}</p>
      <div class="row justify-content-between">
          <div class="col-4">
              <p><strong>{{ product.publicPrice}} TND</strong></p>
          </div>
          <div class="justify-content-end">
              <button class="btn">Buy now</button>
          </div>
      </div>
    </div>
  </div>