.card{
    width: 436px;
<<<<<<< HEAD
    height: 170px;
=======
    height: 154px;
>>>>>>> 898c80660bda406faa93730b60ccafed5bda71b7
    font-size: 12px;
}
button {
    font-size : 12px ; 
    padding : 0px ; 
    margin-bottom : 10px ; 
}
.star {
    color : #b0c4de ; 
    font-size: 20px;
    
}
.full{
    color:  gold;
}
.price{
    color : #7854F7 ; 
    font-size: 14px;
    font-weight: bold;
}
.title{
    font-size: 14px;
    font-weight: bold;
}
.details{
    color : #A9A9A9 ; 
}
