<div class="card">
    <div class="row">
        <div class="col-4">
            <embed src="../../../assets/product.svg" width="100%" height="100%" />
        </div>
        <div class="col-8">
            <div class="row ">
                Product Title
            </div>
            <div class="row">
                <div class="col-4">Farm : </div>
                <div class="col-8">Tharamis Farm</div>
            </div>
            <div class="row">
                <div class="col-4">Freshness: </div>
                <div class="col-8">1 day old</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="row">
            <button class="btn">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                Wish list
            </button>
        </div>
        <div class="row">
            <button class="btn">
                <i class="fa fa-times" aria-hidden="true"></i>
                Remove
            </button>
        </div>
        </div>
        <div class="col-9">

        </div>
    </div>
</div>