<div class="card">
    <div class="card-body">
        <div class="row align-items-center ">
            <div class="col-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      IntiGo
                    </label>
                  </div>
            </div>
            <div class="col ">
                <span id="price">+5 DT</span>
                <span>Additional price</span>
            </div>
            <div class="col-2">
                <embed src="../../../assets/intigo.svg" />
            </div>

        </div>
    </div>
</div>