<div style="width: 570px; margin-top: 20px;">
<nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>Description</a>
      <ng-template ngbNavContent>
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
          keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
          salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>
        <span style="color : #7854F7" class="badge rounded-pill bg-light">14</span>  
        Reviews</a>
      <ng-template ngbNavContent>
        <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
          farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
          ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
          helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
          8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
          stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Questions</a>
      <ng-template ngbNavContent>
       <form >
         <label for="comment">Comments</label>
         <input #comment class="form-control" type="text" name="comment" id="comment">
       </form>
       <button class="btn btn-secondary" (click)="addComments(comment.value)">Add Comment</button>
      </ng-template>
    </ng-container>
  </nav>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>