a{
    color : black ; 
    font-weight: bold;
}
.nav-link.active{
    border-bottom:2px solid #7854F7;
    border-right-color: white;
    border-top-color: white;
    border-left-color: white;
}

button{
    margin-left:  200px;
    margin-top: 10px;
}
i{
    cursor: pointer;
}