<div style="width: 570px; margin-top: 20px;">
<nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>Description</a>
      <ng-template ngbNavContent>
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
          keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
          salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Reviews
      <span style="color : #7854F7" class="badge rounded-pill bg-light">{{product.comments.length}}</span>  
    </a>
      <ng-template ngbNavContent>
       <form >
         <input #comment placeholder="Add a comment or a question here .." class="form-control" type="text" name="comment" id="comment">
       </form>
       <button class="btn btn-secondary" (click)="addComments(comment.value)">Add Comment</button>
       <ul *ngFor="let comment of product.comments" class="list-group list-group-flush">
          
        <div class="card p-3 mt-2">
          <div class="d-flex justify-content-between align-items-center">
              <div class="user d-flex flex-row align-items-center">
                 <img src="https://i.imgur.com/C4egmYM.jpg" width="30" class="user-img rounded-circle mr-2">
                  <span><small class="font-weight-bold text-primary">{{comment.username}}</small>
                     </span> </div> <small>{{ comment.createdAt | date}}</small>
          </div>
          <div class="action d-flex justify-content-between mt-2 align-items-center">
              <div class="reply px-4"> <small>{{comment.text}}</small> <span class="dots"></span> </div>
              <div class="icons align-items-center"> <i (click)="deleteComment(comment._id)" class="fa fa-close"></i> </div>
          </div>
      </div>
       </ul>
      </ng-template>
    </ng-container>
  </nav>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>