<div class="row justify-content-between" style="margin-top: 20px;">
    <div class="col">
        <div class="row title">
            Confirmation
        </div>
        <div class="row subtitle">
            We are getting to the endn just few clicks your order is ready ! 
        </div>
    </div>
    <div class="col-3 subtitle align-self-end" style="position: absolute; right: -80px;">
        Step 4 of 4
    </div>
</div>
<div class="row">
    <div class="card">
        
            <div class="row " style="height: 100%;">
                
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          I agree with sending an Marketing and newsletter emails. No spam,promissed ! 
                        </label>
                      
                </div>
    
            
        </div>
    </div>
</div>
<div class="row">
    <div class="card">
        
            <div class="row " style="height: 100%;">
                
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          I agree with our terms and conditions and privacy policy  
                        </label>
                      
                </div>
    
            
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <button (click)="handleOrder()"   class="btn">
        Complete Order
    </button>
</div>
<div class="row justify-content-center">
    <div class="col-12">
        <img src="../../../assets/safe.svg" alt="safe">
        <div style="font-weight: bold; font-size : 12px">All you data are safe</div>
    </div>
   
    <div class="col-12" style="color:#A9A9A9 ; font-size: 12px;">
        We are using the most advanced security to provide you the best experience ever.
    </div>
</div>



