li{
    font-size: 15px;
    font-weight: bold;
    color : black
 
}
nav{
    background-color: #F9F9F9;
    height: 55px;
    width: 1350px;
    border-radius: 12px;
    margin-bottom: 10px;
    
}

.active{
    color :#7854F7
    ; 
}

li:hover{
    color : #7854F7  ; 
    opacity: 50%;
}