<app-navbar [items]= "orderProducts$ | async"></app-navbar>
<div class="container">
<div class="row">
    <app-nav-tree [category]="category" ></app-nav-tree>
</div>
<div class="row">
    <div class="col-3">
        <form [formGroup]="filterForm" (ngSubmit)="handleSubmit()">
        <app-brands-filter formControlName="labo" ></app-brands-filter>
        <app-ratings-filter formControlName="rating"></app-ratings-filter>
        
        <app-price-slider  formControlName="price"></app-price-slider>
        <div class="row justify-content-around">
            <div class="col">
                <button class="btn"  style="background-color: #7854F7; color: white">
                    Apply
                </button>
            </div>
            <div class="col">
                <button class="btn btn-light" style="color : #A9A9A9">
                    Reset
                </button>
            </div>

        </div>
    </form>
    </div>
    <div class="col-8">
        <div *ngFor="let product of (products$ | async)">
            <app-extended-card  [product]="product" ></app-extended-card>

        </div>
        <div *ngIf="!length">
            No item found
        </div>
    </div>
</div>
<app-nav-products [products]="products$ | async"></app-nav-products>
<app-footer></app-footer>
</div>