<div class="card choosen">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img src="../../../assets/pharmacy.png" alt="pharmacy">
                    </div>
                    <div class="col-8">
                        <div class="title">ASTER PHARMACY</div>
                        <div class="subtitle">Dubai, internation City</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="des">
                        Working Hours
                    </div>
                        01:00 - 17:00
                    </div>
                    <div class="col-6">
                        <div class="des">
                        In Stock
                    </div>
                        2/2
                    </div>
                </div>
            </div>
            <div class="col-4 align-self-end" >
                <!-- <div style=" border-left: 2px solid black; text-align: center;">
                <div style="font-size: 30px ; font-weight: bold   ; ">33</div>
                <p style="color :#B9BCC3"> DHS</p>
            </div> -->
                
                <div>
                <button class="btn" style="border: 1px solid #70C217;">In Stock</button>
            </div>
                <button class="btn" style="background-color:#70C217 ; color: white;">Choosen</button>
            </div>
        </div>
    </div>
</div>