<div style="height:600px ;">
<agm-map [latitude]="myLatitude" [longitude]="myLongitude" >
  <agm-marker *ngFor="let pharmacie of product.pharmacies"  [latitude]="pharmacie.latitude" [longitude]="pharmacie.longitude"></agm-marker>
</agm-map>
<div class="card">
    <div class="card-body">
    <div class="row title">Pharmacy</div>
    <div class="row subtitle">
        Price can chnage depending on shipping method and taxes of your state
    </div>
    <div class="row justify-content-around">
        <button class="btn btn-danger">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            Open
        </button>
        <button class="btn btn-light">
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
            Near
        </button>
        <button class="btn btn-light">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            Price
        </button>
    </div>
</div>
</div>
</div>
