.card{
    position : relative ; 
    top: -595px;
    right: 0px ;
    width: 468px;
    height: 148px;
    border-radius : 15px ; 
}
button {
    border-radius : 100px ; 
}

.title{
    justify-content: center;
    margin-bottom: 10px;
    font-size:22px; 
    font-weight: bold;
}
.card-body{
    padding: 5px 20px ; ;
}
.subtitle{
    font-size: 12px;
    color : #A9A9A9 ; 
    margin-bottom: 20px; 
}