<div class="card ">
    <div class="card-body">
        <h5 class="card-title">
            Order Summary
        </h5>
        <h6 class="card-subtitle  text-muted">
            Price can change depending on shipping method and taxes of your state
        </h6>
        <div class="products">
            <div *ngFor="let item of products">
                     <app-order-product [product]= "item"></app-order-product>

            </div>
    </div>
    
        <table class="table">
            <tbody>
                <tr>
                    <td>Subtotal</td>
                    <td class="b-2">{{ price |  number:'1.2-3'}}DT</td>

                </tr>
                <tr>
                    <td>Pharmacy</td>
                    <td class="b-2"> Ester Pharmacy</td>

                </tr>
                <tr>
                    <td>Tax (19%)</td>
                    <td class="b-2">{{ price*0.19 | number:'1.2-3'}} DT</td>

                </tr>
                <tr>
                    <td>Shipping</td>
                    <td class="b-2">0 DT</td>

                </tr>
           
            </tbody>
        </table>
   
        <!-- <div class="card" style="height: 42px; width: 436px; border-radius: 12px;background-color: #D1D1D1;">
                <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <input class="form-control" type="text" placeholder="Promo code" />
                    </div>
                    <div class="col-3">
                        <button class="btn" style="font-size: 15px; font-weight: bold; padding: 0px;">
                        Apply Now
                    </button>
                    </div>
                </div>
            </div>
                
           
        </div> -->
        <div class="row" style="margin-top: 20px;">
            <div class="col-8">
                <div><strong>Total Order</strong></div>
                <div style="color:#7854F7 ;">Guranteed delivery day : April 20,2020</div>
            </div>
            <div class="col-4" style="font-size: 22px; font-weight: bold; color: #7854F7; text-align:right ;">
                {{price+ price*0.19 |  number:'1.2-3'}} DT
            </div>
        </div>
    </div>
  
</div>