.card{
    
    width: 468px;
    max-height: 720px;
    border-radius: 12px;
} 
.card-body{
    padding : 5px ; 
    justify-content: center;
}
.card-subtitle{
    font-size: 12px;
}
.card-title{
    font-size: 22px;
    font-weight: bold;
}
.products {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 20px;
}
td{
    
    font-weight: bold  ; 
}
.form-control{
    border-radius : 12px ; 
 
}
*{
    font-size : 12px; 
}
.b-2{
    text-align: right;
}