<div style="width: 570px;">
    <span class="badge bg-light ">-35 %</span>
    <span class="badge bg-light ">Free Shopping</span>

    <div class="row title">
        PANADOL 1gr Comp.Pell.Séc. Bt 8
    </div>
    <div class="row">
        <ngb-rating [(rate)]="currentRate" [max]="5">
            <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.full]="fill === 100">&#9733;</span>
        </ng-template>
        </ngb-rating>
    </div>
    <div class="row">
        FOSTER® est une solution pressurisée contenue dans une cartouche en aluminium dotée d'une valve doseuse et placée dans un inhalateur en plastique (polypropylène) muni d'un capuchon protecteur.
        Chaque boîte contient une cartouche délivrant 120 bouffées.
    </div>
    <div class="row">
        <div class="col-6">
            <table>
                <tbody>
                    <tr>
                        <td class="t1">
                            Trade name
                        </td>
                        <td class="t2">
                            Panadol
                        </td>
                    </tr>
                    <tr>
                        <td class="t1">
                            Dosage
                        </td>
                        <td class="t2">
                            1g
                        </td>
                    </tr>
                    <tr>
                        <td class="t1">Stock</td>
                        <td class="t2">In Stock</td>
                    </tr>
                    <tr>
                        <td class="t1">Form</td>
                        <td class="t2">Comprimé pélliculé sécab</td>
                    </tr>
                    
                    
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table>
                <tbody>
                    <tr>
                        <td class="t1">Dci</td>
                        <td class="t2">1 day old</td>
                    </tr>
                    <tr>
                        <td class="t1">Laboratory</td>
                        <td class="t2">TERIAK</td>
                    </tr>
                    <tr>
                        <td class="t1">Specification</td>
                        <td class="t2">en prod</td>
                    </tr>
                    <tr>
                        <td class="t1">Présentation</td>
                        <td class="t2">B/8</td>
                    </tr>
                    
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="row " style=" text-align: center; margin: 20px 0px">
        <div class="pharmacy col-12">
            Pharmacy :<span style="color:#70C217 "> Aster Pharmacy</span>
        </div>
        <div class="col-12" style="color :#C8CFC0">
            NB: TO CHANGE THE PHARMACY PLEASE SELECT ANOTHER OPTION FORM THE MAP
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div  style="font-size:20px; font-weight: bold ; color : #7854F7 ;"> 2.560 DT</div>
            <div style="color : #A9A9A9"><s>3.200 DT</s></div>
        </div>
        <div class="col-3">
            <div class="row align-items-center">
                <span style="font-weight: bold; margin-right: 5px;">
                Quantité:    
            </span>
             
            <input type="number" class="form-control" value="1" style="background-color: #D1D1D1 ; width: 50px; padding: 0px 5px;">
            </div>
            
        </div>
        <div class="col">
            <button class="btn">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add to Cart
            </button>
        </div>
    </div>
</div>