span{
    color: #FFC122;
}

i{
    color:  #D1D1D1;
}

div{
    margin-left: 3px;
    border: transparent;
}

p{
    position: static;
    height: 27px;
    left: 0px;
    right: 0px;
    top: 0px;

    font-weight: bold;
   
    /* S4/Default */
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    /* C1/A */
    
    color: #151515;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;

}

