<div class="row">
    <div class="col-12 title">
        <div class="row justify-content-between">
            <div class="col-3">Offre 50 %</div>
            <div class="col-2">
                <button class="btn btn-light" >See More ></button>
            </div>

        </div>
        
    </div>
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-6">
       <app-promo-card></app-promo-card>

            </div>
            <div class="col-6">
       <app-promo-card></app-promo-card>

            </div>

        </div>

    </div>
</div>