<div class="row justify-content-between">
    <div class="col-4">
        <div class="row title">
            Shipping Method : {{ product}}
        </div>
        <div class="row subtitle">
            Please enter your payment method
        </div>
    </div>
    <div class="col-3 subtitle align-self-end" style="position: absolute; right: -80px;">
        Step 1 of 4 
    </div>
</div>
<div class="row">
    <app-shipping-item [image]="'../../../assets/intigo.svg'"></app-shipping-item>
</div>

<div class="row">
    <app-shipping-item [image]="'../../../assets/intigo.svg'"></app-shipping-item>
</div>