<div class="col-3">  
    <ol class="list-group list-group">
      <p> Category </p>
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div class="ms-2 me-auto">
                Cras justo odio
            </div>
            <span class="badge rounded-pill">14</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div class="ms-2 me-auto">
                Cras justo odio
            </div>
            <span class="badge rounded-pill">4</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div class="ms-2 me-auto">
                Cras justo odio
            </div>
            <span class="badge rounded-pill">21</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div class="ms-2 me-auto">
                Cras justo odio
            </div>
            <span class="badge rounded-pill">17</span>
      </a>
    </ol>
</div>