<div [formGroup]="form">
    <p> Brands </p>
    <ol class="list-group">
       
    <li class="list-group-item">
        <input class="form-check-input" type="checkbox" formControlName="simed" id="simed">
        SIMED
    </li>
    <li class="list-group-item">
        <input class="form-check-input" type="checkbox" formControlName="teriak" id="teriak">
        TERIAK
    </li>
    <li class="list-group-item">
        <input class="form-check-input" type="checkbox" formControlName="saiph" id="saiph">
        SAIPH
    </li>
    </ol>
</div>
